<section>
 
  <div class="col-md-12 col-sm-12 col-lg-12">
   <header-main type="type"></header-main>
    <div class="col-md-12 col-sm-12 well-md text-center ">
        <h2> <strong>LOGIN</strong>&nbsp;<span class="glyphicon glyphicon-home blueColor"></span></h2></div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4"></div>
         <div class="col-md-4 col-sm-4 login-page">
      
            <div class="col-md-12 col-sm-12 text-center">
                <div id="log" class="alert" collapse="isCollapsed" style="transition: all 150ms cubic-bezier(1, 0, 0, 1);"> <strong>{{errorMessage}}</strong> </div>
                <form name="lg" id=lg ng-submit="login()">
                    <div class="col-md-12 col-sm-12 form-group">
                        <div>
                            <label class="pull-left" ><strong>Username</strong></label>
                            <input id="user" type="text" class="form-control" ng-model="username" /> </div>
                        <br>
                        <div>
                            <label class="pull-left"><strong>Password</strong></label>
                            <input id="pass" type="password" class="form-control" ng-model="password" /> </div>
                    </div>
                    <button type="submit" ng-click="loginMessage()" class="btn btn-lg btn-primary" ng-disabled="!lg.$dirty || lg.$invalid">Login </button>
           
            </form>
        </div>
          <div class="col-md-4 col-sm-4"></div>
    </div>
    </div>
   
   
</div>
</div>
</section>